html, body {
  width: 100%;
  height: 100%;
  margin: 0;

  background-color: @color4;
  font-size: 18px;
  font-family: 'Archivo', sans-serif;
}

hr {
  color: @color3;
  border-color: @color3;
}

.input-field {
  width: 100%;
  border: 1px solid @color4;
  padding: 6px 12px;
  border-radius: 5px;
  margin-bottom: 12px;
  color: @color1;

  &--center {
    text-align: center;
  }
}