.cp-wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.cp-content, .cp-main-content {
  width: 100%;
}

.cp-main-content {
  padding: 12px;
  min-height: 100vh;

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    margin-top: 0;
  }
}

.cp-sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  transition: all 0.3s;
  background-color: @color1;
  color: @color5;

  .cp-sidebar__header {
    padding: 12px;
    font-size: 24px;
    strong {
      display: none;
      padding: 12px 0;
    }
  }

  &.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;

    .cp-sidebar__header {
      strong {
        display: block;
      }

      h1 {
        display: none;
      }
    }

    .cp-sidebar__list-item {
      a {
        text-align: center;
        font-size: 0.85em;

        i {
          margin-right:  0;
          display: block;
          font-size: 1.8em;
          margin-bottom: 5px;
          padding-right: 0;
          width: 100%;
          text-align: center;
        }
      }
    }

    .dropdown-toggle::after {
      top: auto;
      bottom: 10px;
      right: 50%;
      -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
      transform: translateX(50%);
    }
  }

  a[data-toggle="collapse"] {
    position: relative;
  }

  .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }

  .collapse.in {
    background-color: @color2;
    color: @color1;

    a {
      color: @color1;

      i {
        color: @color1;
      }
    }
  }

  .cp-sidebar__list-item {
    border-bottom: 1px solid @color2;
    transition: all 0.3s;

    .cp-sidebar__list-item {
      padding-left: 12px;
      &:hover {
        background-color: @color3;
      }
    }
    a {
      display: block;
      color: @color2;
      padding: 12px;
      text-align: left;

      i {
        padding-right: 12px;
        width: 34px;
      }
    }

    &:hover {
      background-color: @color2;

      a {
        color: @color1;
      }
    }
  }
}

.navbar-cp-custom {
  background-color: @color2;
  padding: 12px 0;
  margin: 0;
  border-radius: 0;
}

@media (max-width: 768px) {
  .cp-sidebar {
    margin-left: -250px;

    .cp-sidebar__list-item {
      .cp-sidebar__list-item {
        padding: 0;
        a {
          padding: 12px;
          word-break: break-all;
          text-align: center;

          i {
            width: 100%;
            text-align: center;
          }
        }
      }
    }

    &.active {
      margin-left: 0;
    }
  }
}

.cp-block {
  padding: 12px;
  background-color: @color5;
  border-radius: 1px;
  margin-bottom: 12px;

  .cp-block__header {
    color: @color2;
    margin: 0;
    border-bottom: 1px solid @color1;
    margin-bottom: 12px;
  }
}

.team-legend {
  line-height: 32px;

  .team-legend__color {
    border: 1px solid #000000;
    width: 32px;
    height: 32px;
  }
}

.object__image {
  width: 32px;
  max-height: 32px;
}