.dropdown-menu {
  width: 100%;
  //padding: 12px;
}

.dropdown-item {
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding: 12px 0px;
}

.dropdown-item__title {
  font-weight: bold;
}

.dropdown-item__col {
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;

  &--header {
    font-weight: bold;
  }
  //border-right: 1px solid rgba(0,0,0,0.7);
}