input[type="radio"].questionRadio {
  display: none;
}

label.radioLabel {
  cursor: pointer;
  width: 100%;
  display:inline-block;
  background-color: white;
  padding: 12px;
  border: 1px solid #000;
  border-radius: 5px;
}

input[type="radio"]:checked + label.radioLabel {
  background-color: rgba(92, 184, 92, 0.3);
  border-color: rgba(92, 184, 92, 1);
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}