.header-row {
  padding: 12px;
  padding-top: 60px;
  padding-bottom: 24px;
  font-weight: bold;
  font-size: 48px;

  h1 {
    font-size: 72px;
  }
}

.login__block {
  background-color: @color4;
  border: .0625rem solid @color1;
  padding: 12px;
  border-radius: 5px;
  margin-top: 12px;
}

.login__block-title {
  margin-top: 10px
}

.header-row__main-title {
  color: white;
}

.ticker__list {
  display: inline-block;
  list-style: none;
  padding: 0;
  left: 0;
  width: 100%;
  color: @color1;
  font-weight: bold;
  text-align: center;
}

section {
  &:nth-of-type(even) {
    background-color: @color3;
  }

  &:nth-of-type(odd) {
    background-color: @color2;
  }
}

.row-divided {
  display: flex;

  .row-divider {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:nth-of-type(odd) {
      background-color: @color5;
      color: @color1;
    }

    &:nth-of-type(even) {
      background-color: @color1;
      color: @color5;
    }
  }
}

.login-block {
  padding: 12px;
  margin: auto;

  @media (max-width: @screen-xs-max) {
    width: 100%;
  }

  @media(min-width: @screen-md-min) {
    width: 50%;
  }
}