.navbar-custom {
  background-color: @color1;
  color: @color5;

  a {
    color: @color5;

    &:visited {
      color: @color5;
    }
  }

  .nav {
    li {
      a {
        line-height: 36px;
        &:hover,
        &:active {
          background-color: @color2;
        }
      }
    }
  }
}

.navbar-brand {
  height: auto;
  line-height: 28px;
}