@color1: #17252A;
@color2: #2B7A78;
@color3: #3AAFA9;
@color4: #DEF2F1;
@color5: #FEFFFF;

@btn-primary-color: @color5;
@btn-primary-bg: @color1;
@btn-primary-border: @color5;

/*@primaryColor: #fc910d;
@primaryColorLight: #fcb13e;

@secondaryColor: //#1674b1;
@secondaryColorLight: #239cd3;

@tertairyColor: #ed6d50;

@brokenWhite: rgba(255,255,255,0.9);*/