{% extends 'controlPanelGlobal.html.twig' %}

{% block template %}
    <h2>{{ t('cp.answers.title') }}</h2>
    <div class="row">
        <div class="col-xs-12">
            Filter:
            <select id="filter-type">
                <option value="">All</option>
                <option value="multiple">Multiple choice</option>
                <option value="text">Text</option>
                <option value="other">Anders</option>
            </select>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $('#filter-type').change(function(){
                var type = $(this).val();
                $('.js-question-row').each(function(){
                   var rowType = $(this).attr('data-question-type');

                   if (type == 'all' || rowType == type) {
                       $(this).show();
                   } else {
                       $(this).hide();
                   }
                });
            });
        });
    </script>
    {% for teamId,answers in context.answers %}
        {% set selectedTeam = {} %}
        {% for team in context.teams %}
            {% if team.id == teamId %}
                {% set selectedTeam = team %}
            {% endif %}
        {% endfor %}
        {% if (loop.index0 % 2 == 0) %}
            <div class="row">
        {% endif %}

        <div class="col-xs-6">
            <div class="cp-block">
                <div class="cp-block__header">
                    <h3>{{ selectedTeam.name }}</h3>
                    <small class="pull-right"> {{ t('team.points') }}: {{ selectedTeam.points }}</small></div>
                <table class="table">
                    <thead>
                    <tr>
                        <th class="col-xs-3">
                            {{ t('question.question') }}
                        </th>
                        <th class="col-xs-3">
                            {{ t('question.answer') }}
                        </th>
                        <th class="col-xs-4">
                            {{ t('question.answerDate') }}
                        </th>
                        <th class="col-xs-2">

                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for answer in answers %}
                        <tr class="js-question-row" data-question-type="{{ answer.type }}">
                            <td>
                                {{ answer.question }}
                            </td>
                            <td>
                                {{ answer.answer }}
                            </td>
                            <td>
                                {{ answer.answerDate }}
                            </td>
                            <td>
                                    {% if answer.isHandled != 1 or answer.answerDate == '' %}
                                        <form method="post" action="{{ tl('adminAnswerQuestion') }}">
                                            <input type="hidden" name="teamId" value="{{ answer.tId }}"/>
                                            <input type="hidden" name="questionId" value="{{ answer.qId }}"/>
                                            <input type="hidden" name="action" value="correct"/>
                                            <button class="btn btn-success">{{ t('common.correct') }}</button>
                                        </form>
                                        <form method="post" action="{{ tl('adminAnswerQuestion') }}">
                                            <input type="hidden" name="teamId" value="{{ answer.tId }}"/>
                                            <input type="hidden" name="questionId" value="{{ answer.qId }}"/>
                                            <input type="hidden" name="action" value="wrong"/>
                                            <button class="btn btn-danger">{{ t('common.wrong') }}</button>
                                        </form>
                                    {% elseif answer.isCorrect == 0 %}
                                        <form method="post" action="{{ tl('adminAnswerQuestion') }}">
                                            <input type="hidden" name="teamId" value="{{ answer.tId }}"/>
                                            <input type="hidden" name="questionId" value="{{ answer.qId }}"/>
                                            <input type="hidden" name="action" value="correct"/>
                                            <button class="btn btn-success">{{ t('common.correct') }}</button>
                                        </form>
                                    {% elseif answer.isCorrect == 1 %}
                                        <form method="post" action="{{ tl('adminAnswerQuestion') }}">
                                            <input type="hidden" name="teamId" value="{{ answer.tId }}"/>
                                            <input type="hidden" name="questionId" value="{{ answer.qId }}"/>
                                            <input type="hidden" name="action" value="wrong"/>
                                            <button class="btn btn-danger">{{ t('common.wrong') }}</button>
                                        </form>
                                    {% endif %}

                                {% if answer.answerDate != '' %}
                                    <form method="post" action="{{ tl('adminAnswerQuestion') }}">
                                        <input type="hidden" name="teamId" value="{{ answer.tId }}"/>
                                        <input type="hidden" name="questionId" value="{{ answer.qId }}"/>
                                        <input type="hidden" name="action" value="removeAnswer"/>
                                        <button class="btn btn-warning">{{ t('common.remove') }}</button>
                                    </form>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% if (loop.index0 % 2 == 1 or loop.last == true ) %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
