{% extends 'controlPanelGlobal.html.twig' %}

{% block template %}
    <div class="row">
        <div class="col-xs-12" >
            <div class="cp-block">
                <h3 class="cp-block__header">{{ t('cp.newGame.title') }}</h3>
                <div class="cp-block__content">
                    <form method="post" action="{{ tl('cpNewGameService') }}">
                        <label for="name">{{ t('game.name') }}</label>
                        <input type="text" name="name" id="name" placeholder="{{ t('game.name') }}" class="input-field"/>

                        <label for="startDate">{{ t('game.startDate') }}</label>
                        <input type="datetime-local" name="startDate" value="{{ "now"|date("Y-m-d\\TH:i") }}" id="startDate" placeholder="{{ t('game.startDate') }}" class="input-field"/>

                        <label for="startDate">{{ t('game.endDate') }}</label>
                        <input type="datetime-local" name="endDate" value="{{ "now"|date("Y-m-d\\TH:i") }}" id="endDate" placeholder="{{ t('game.endDate') }}" class="input-field"/>

                        <button type="submit" class="btn btn-primary">
                            {{ t('common.create') }}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
