{% extends 'controlPanelGlobal.html.twig' %}

{% block template %}
    <style>
        tr {
            word-break: break-word;
        }
    </style>
    <div class="row">
        <div class="col-xs-12">
            <h2 class="text-center">{{ t('cp.header.objects', {'gameName': context.game.name}) }}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12" >
            <div class="cp-block">
                <div class="pull-right">
                    <a href="{{ tl('cpObjectEdit', {'gameId': context.game.id, 'objectId': 0}) }}" class="btn btn-primary">{{ t('cp.objects.newObject') }}</a>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            {{ t('object.name') }}
                        </th>
                        <th>
                            {{ t('object.image') }}
                        </th>
                        <th>
                            {{ t('object.price') }}
                        </th>
                        <th>
                            {{ t('object.points') }}
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for object in context.objects %}
                        <tr>
                            <td>{{ object.name }}</td>
                            <td class="text-center"><img class="object__image" src="{{ object.image }}"/></td>
                            <td>{{ object.purchaseValue }}</td>
                            <td>{{ object.points }}</td>
                            <td>
                                <a href="{{ tl('cpObjectEdit', {'gameId': context.game.id, 'objectId': object.id}) }}" class="btn btn-primary">
                                    <i class="fas fa-wrench"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    {% if context.objects|length <= 0 %}
                        <tr>
                            <td colspan="5" class="text-center">{{ t('cp.objects.noObjectsYet') }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
