{% extends 'controlPanelGlobal.html.twig' %}

{% block template %}
    <script src="/js/gameOverview.js"></script>
    <div class="js-game-data" data-game-id="{{ context.game.id }}">&nbsp;</div>
    <div class="row">
        <div class="col-sm-4">
            <div class="cp-block">
                <h3 class="cp-block__header">{{ t('cp.block.questionAmount') }}</h3>
                <div class="cp-block__content">
                    {{ context.questions|length }}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="cp-block">
                <h3 class="cp-block__header">{{ t('cp.block.teamAmount') }}</h3>
                <div class="cp-block__content">
                    {{ context.teams|length }}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="cp-block">
                <h3 class="cp-block__header">{{ t('cp.block.objectAmount') }}</h3>
                <div class="cp-block__content">
                    {{ context.object|length }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="cp-block">
                <h3 class="cp-block__header">{{ t('cp.game.overview.teamLocations') }}</h3>

                {% for team in context.teams %}
                    {% set colors = context.teamColors[team.id] %}
                    <div class="team-legend">
                        <div data-team-id="{{ team.id }}" class="team-legend__color" style="background-color: rgb({{ colors.r}}, {{ colors.g }}, {{ colors.b }})">&nbsp;</div>
                        {{ team.name }}
                    </div>
                {% endfor %}
                <div class="team-legend">
                    <div class="team-legend__color" style="background-color: rgb(0, 0, 0)">&nbsp;</div>
                    {{ t('cp.game.overview.you') }}
                </div>
                <div id="geoHuntMap" style="height:100vh">&nbsp;</div>
            </div>
        </div>
    </div>

    <script>
        $(document).geoHuntOverview();
    </script>
{% endblock %}
