{% extends 'controlPanelGlobal.html.twig' %}

{% block template %}
    <style>
        tr {
            word-break: break-word;
        }
    </style>
<div class="row">
    <div class="col-xs-12" >
        <div class="cp-block">
            <div class="cp-block__header">
                <h2 class="text-center">{{ t('cp.header.questions', {'gameName': context.game.name}) }}</h2>
            </div>
            <div class="pull-right">
                <a href="{{ tl('cpQuestionEdit', {'gameId': context.game.id, 'questionId': 0}) }}" class="btn btn-primary">{{ t('cp.questions.newQuestion') }}</a>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>
                        {{ t('question.title') }}
                    </th>
                    <th>
                        {{ t('question.value') }}
                    </th>
                    <th>
                        {{ t('question.type') }}
                    </th>
                    <th>
                        &nbsp;
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for question in context.questions %}
                    <tr>
                        <td>{{ question.title }}</td>
                        <td>{{ question.value }}</td>
                        <td>{{ question.type }}</td>
                        <td>
                            <a href="{{ tl('cpQuestionEdit', {'gameId': context.game.id, 'questionId': question.id}) }}" class="btn btn-primary">
                                <i class="fas fa-wrench"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                {% if context.questions|length <= 0 %}
                    <tr>
                        <td colspan="5" class="text-center">{{ t('cp.questions.noQuestionsYet') }}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
