{% extends 'controlPanelGlobal.html.twig' %}

{% block template %}
    <style>
        tr {
            word-break: break-word;
        }
    </style>
    <div class="row">
        <div class="col-xs-12">
            <h2 class="text-center">{{ t('cp.header.teams', {'gameName': context.game.name}) }}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12" >
            <div class="cp-block">
                <div class="pull-right">
                    <a href="{{ tl('cpTeamEdit', {'gameId': context.game.id, 'teamId': 0}) }}" class="btn btn-primary">{{ t('cp.teams.newTeam') }}</a>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            {{ t('team.name') }}
                        </th>
                        <th>
                            {{ t('team.code') }}
                        </th>
                        <th>
                            {{ t('team.points') }}
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for team in context.teams %}
                        <tr>
                            <td>{{ team.name }}</td>
                            <td>{{ team.code }}</td>
                            <td>{{ team.points }}</td>
                            <td>
                                <a href="{{ tl('cpTeamEdit', {'gameId': context.game.id, 'teamId': team.id}) }}" class="btn btn-primary">
                                    <i class="fas fa-wrench"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    {% if context.teams|length <= 0 %}
                        <tr>
                            <td colspan="4" class="text-center">{{ t('cp.teams.noTeamsYet') }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
