{% extends 'controlPanelGlobal.html.twig' %}

{% block template %}
<div class="row">
    <div class="col-xs-12" >
        <div class="cp-block">
            <h2>{{ t(context.team.id == 0 ? 'cp.team.new.title' : 'cp.team.edit.title') }}</h2>
            <form method="post" action="{{ tl('cpTeamSaveService') }}">
                <input type="hidden" name="teamId" value="{{ context.team.id }}"/>
                <input type="hidden" name="gameId" value="{{ context.game.id }}"/>

                <label for="name">{{ t('team.name') }}</label>
                <input type="text" name="name" value="{{ context.team.name }}" class="input-field" id="name"/>

                <label for="code">{{ t('team.code') }}</label>
                <input type="text" name="code" value="{{ context.team.code }}" class="input-field" id="code"/>
                <small>{{ t('cp.team.code.generation') }}</small><br/>

                <label for="points">{{ t('team.points') }}</label>
                <input type="number" name="points" value="{{ context.team.points }}" class="input-field" id="points"/>

                <button type="submit" class="btn btn-primary">
                    {{ t('common.save') }}
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
