{% extends 'controlPanelGlobal.html.twig' %}

{% block template %}
    <div class="row">
        <div class="col-xs-12" >
            <div class="cp-block">
                <h2>{{ t(context.team.id == 0 ? 'cp.object.new.title' : 'cp.object.edit.title') }}</h2>
                <form method="post" action="{{ tl('cpObjectSaveService') }}">
                    <input type="hidden" name="objectId" value="{{ context.object.id }}"/>
                    <input type="hidden" name="gameId" value="{{ context.game.id }}"/>

                    <label for="name">{{ t('object.name') }}</label>
                    <input type="text" name="name" value="{{ context.object.name }}" class="input-field" id="name"/>

                    <label for="code">{{ t('object.price') }}</label>
                    <input type="number" name="price" value="{{ context.object.purchaseValue }}" class="input-field" id="code"/>

                    <label for="points">{{ t('object.points') }}</label>
                    <input type="number" name="points" value="{{ context.object.points }}" class="input-field" id="points"/>

                    <label for="points">{{ t('object.image') }}</label>
                    <input type="file" name="image" class="input-field" id="points"/>

                    <button type="submit" class="btn btn-primary">
                        {{ t('common.save') }}
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
