{% extends 'global.html.twig' %}

{% block template %}
    <section class="header-row">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center header-row__main-title">
                    {{ t('main.title') }}
                </h1>
                <div class="ticker text-center">
                    <ul class="ticker__list">
                        <li>{{ t('mainsite.catchphrase1') }}</li>
                        <li>{{ t('mainsite.catchphrase2') }}</li>
                        <li>{{ t('mainsite.catchphrase3') }}</li>
                        <li>{{ t('mainsite.catchphrase4') }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>{{ t('cp.login.title') }}:</h2>
                <div class="login-block">
                    <form action="{{ tl('loginService') }}">
                        <label for="username" class="sr-only">{{ t('user.username') }}</label>
                        <input type="text" id="username" name="username" class="input-field" placeholder="{{ t('user.username') }}" required="" autofocus="" autocomplete="off">
                        <label for="password" class="sr-only">{{ t('user.password') }}</label>
                        <input type="password" id="password" name="password" class="input-field" placeholder="{{ t('user.password') }}" required="" autofocus="" autocomplete="off">
                        <button type="submit" class="btn btn-primary">{{ t('common.start') }}</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
