{% extends 'controlPanelGlobal.html.twig' %}

{% block template %}
    <div class="row">
        <div class="col-xs-12">
            <h2 class="text-center">
                {{ t('game.name') }}: {{ context.game.name }}
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="cp-block">
                <h3 class="cp-block__header">{{ t('cp.block.questionAmount') }}</h3>
                <div class="cp-block__content">
                    {{ context.questions|length }}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="cp-block">
                <h3 class="cp-block__header">{{ t('cp.block.teamAmount') }}</h3>
                <div class="cp-block__content">
                    {{ context.teams|length }}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="cp-block">
                <h3 class="cp-block__header">{{ t('cp.block.objectAmount') }}</h3>
                <div class="cp-block__content">
                    {{ context.object|length }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
