{% extends 'controlPanelGlobal.html.twig' %}

{% block template %}
    <script src="/js/placeMarker.js"></script>
    <div class="row">
        <div class="col-xs-12" >
            <form method="post" action="{{ tl('cpQuestionSaveService') }}">
                <input type="hidden" name="questionId" value="{{ context.question.id }}"/>
                <input type="hidden" name="gameId" value="{{ context.game.id }}"/>
                <div class="cp-block">
                    <h2>{{ t(context.question.id == 0 ? 'cp.question.new.title' : 'cp.question.edit.title') }}</h2>
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="title">{{ t('question.title') }}</label>
                            <input type="text" name="title" value="{{ context.question.title }}" class="form-control" id="title"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="code">{{ t('question.description') }}</label>
                            <textarea name="description" class="form-control" id="description" rows="10">{{ context.question.description }}</textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="value">{{ t('question.value') }}</label>
                            <input type="text" name="value" value="{{ context.question.value }}" class="form-control" id="value"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="geoHuntMap" style="height:50vh"></div>
                            <input type="hidden"  name="lat" value="{{ context.question.lat }}" class="form-control" id="lat"/>
                            <input type="hidden" name="lon" value="{{ context.question.lon }}" class="form-control" id="lon"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="type">{{ t('question.type') }}</label>
                            <select name="type" id="type" class="form-control js-type-select">
                                <option value="multiple" {% if context.question.type == 'multiple' %}selected="selected"{% endif %}>{{ t('question.type.multiple') }}</option>
                                <option value="text" {% if context.question.type == 'text' %}selected="selected"{% endif %}>{{ t('question.type.text') }}</option>
                                <option value="other" {% if context.question.type == 'other' %}selected="selected"{% endif %}>{{ t('question.type.other') }}</option>
                            </select>
                        </div>
                    </div>
                    <hr/>
                    <div class="row js-answer-container {{ context.question.type != 'multiple' ? 'hidden' : '' }}">
                        <div class="col-xs-12">
                            <h2>{{ t('question.answer') }}</h2>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>
                                        {{ t('question.answer') }}
                                    </th>
                                    <th>
                                        {{ t('question.answer.isCorrect') }}
                                    </th>
                                    <th>
                                    </th>
                                </tr>
                                </thead>
                                <tbody class="js-answers-table">
                                {% for answer in context.answers %}
                                    <tr class="js-answer-row">
                                        <td>
                                            <input type="text" name="answer[{{ answer.id }}][answer]" value="{{ answer.answer }}" class="form-control"/>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="answer[{{ answer.id }}][correct]" value="1" class="form-control"
                                                   {% if answer.isCorrect %}checked="checked"{% endif %}/>
                                        </td>
                                        <td>
                                            <button class="btn btn-danger js-remove-question-row">X</button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <button type="button" class="js-add-answer btn btn-primary">{{ t('question.answer.new') }}</button>

                            <br/>

                            <hr/>
                        </div>
                    </div>
                    <div class="admin__controlls-row">
                        <button type="submit" class="btn btn-primary">
                            {{ t('common.save') }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <table class="hidden">
        <tr class="js-answer-row js-answer-row-template">
            <td>
                <input type="text" name="answer[ID][answer]" value="" class="form-control"/>
            </td>
            <td>
                <input type="checkbox" name="answer[ID][correct]" value="1"/>
            </td>
            <td>
                <button class="btn btn-danger js-remove-question-row">X</button>
            </td>
        </tr>
    </table>
    <script>
        $(document).ready(function(){
            $(this).placeMarker();

            $('.js-remove-question-row').click(function(event){
                event.stopPropagation();
                event.preventDefault();

                $(this).closest('.js-answer-row').remove();
            });

            $('.js-add-answer').click(function(event){
                event.stopPropagation();
                event.preventDefault();

                var template = $('.js-answer-row-template');
                var templateClone = template.clone(true);
                $(templateClone).removeClass('js-answer-row-template');

                var id = Math.random().toString(36).substr(2, 9);
                templateClone.html(
                    $(templateClone).html().replace('[ID]', '[' + id + ']')
                );

                templateClone.html(
                    $(templateClone).html().replace('[ID]', '[' + id + ']')
                );

                $('.js-answers-table').append(templateClone);
                $(templateClone).find('.js-remove-question-row').click(function(event){
                    event.stopPropagation();
                    event.preventDefault();

                    $(this).closest('.js-answer-row').remove();
                });
            });

            $('.js-type-select').change(function(){
                if ($(this).val() == 'multiple') {
                    $('.js-answer-container').removeClass('hidden');
                } else {
                    $('.js-answer-container').addClass('hidden');
                }
            });
        });
    </script>
{% endblock %}
