{% extends 'Admin.html.twig' %}

{% block content %}
    <h2>
        {{ t('admin.overview') }}
    </h2>
    <div id="jotaHuntMap" style="height:100vh">&nbsp;</div>
    <script>
        var map;
        var lastDateTime = '0000-00-00 00:00:00';
        $(document).ready(function(){
            var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
            var toProjection = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
            var style = new OpenLayers.StyleMap({
                'default': OpenLayers.Util.applyDefaults(
                    {label: "${l}", pointRadius: 10},
                    OpenLayers.Feature.Vector.style["default"]
                ),
                'select': OpenLayers.Util.applyDefaults(
                    {pointRadius: 10},
                    OpenLayers.Feature.Vector.style.select
                )
            });

            var mapnik = new OpenLayers.Layer.OSM(
                "OpenStreetMap",
                [
                    '//a.tile.openstreetmap.org/${z}/${x}/${y}.png',
                    '//b.tile.openstreetmap.org/${z}/${x}/${y}.png',
                    '//c.tile.openstreetmap.org/${z}/${x}/${y}.png'
                ],
                null);

            var markers = new OpenLayers.Layer.Markers("Markers");
            var map = new OpenLayers.Map({
                'div': "jotaHuntMap",
                'layers': [
                    mapnik, markers
                ]
            });

            function handlePermission() {
                navigator.permissions.query({name: 'geolocation'}).then(function (result) {
                    if (result.state == 'granted') {
                        console.log(result.state);
                    } else if (result.state == 'prompt') {
                        console.log(result.state);
                    } else if (result.state == 'denied') {
                        console.log(result.state);
                    }
                    result.onchange = function () {
                        console.log(result.state);
                    }
                });
            }

            function init() {
                handlePermission();


                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        var pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };

                        var posit = new OpenLayers.LonLat(pos.lng, pos.lat).transform(fromProjection, toProjection);
                        var zoom = 18;

                        map.setCenter(posit, zoom);
                        {% for team in context.teams %}
                            var teamPosit = new OpenLayers.LonLat('{{ team.lon }}', '{{ team.lat }}').transform(fromProjection, toProjection);
                            var teamMarker = new OpenLayers.Marker(teamPosit);
                            markers.addMarker(teamMarker);
                            console.log(teamPosit);
                        {% endfor %}
                    }, function () {
                        alert("NOT SUPPORTED");
                    });
                } else {
                    alert('error')
                }
            }

            init();
        });

    </script>
{% endblock %}
