{% extends 'adminGlobal.html.twig' %}

{% block template %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center">
                    {{ t('admin.title') }}
                </h1>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm-4">
                <a href="{{ tl('adminTeams') }}" class="btn btn-primary btn-block">
                    {{ t('admin.teams') }}
                </a>
            </div>
            <div class="col-sm-4">
                <a href="{{ tl('adminQuestions') }}" class="btn btn-primary btn-block">
                    {{ t('admin.questions') }}
                </a>
            </div>
            <div class="col-sm-3">
                <a href="{{ tl('adminOverview') }}" class="btn btn-primary btn-block">
                    {{ t('admin.overview') }}
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a href="{{ tl('adminAnswers') }}" class="btn btn-primary btn-block">
                    {{ t('admin.answers') }}
                </a>
            </div>
            <div class="col-sm-4">
                <a href="{{ tl('admin.objects') }}" class="btn btn-primary btn-block">
                    {{ t('admin.objects') }}
                </a>
            </div>
        </div>
        <hr/>
        {{ block('content') }}
    </div>


{% endblock %}

{% block content %}
{% endblock %}