<!DOCTYPE html>

<html lang="{{ language }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="author" content="">
    <meta name="description" content="{{ t('index.description', {'groupName': s('groupName')}) }}"/>
    <link async rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css">
    <link async rel="stylesheet" type="text/css" href="/css/compiled.php" />
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/app.js"></script>

    <title>{{ t('admin.title') }}</title>
    <style type="text/css">
        html, body, #jotaHuntMap {
            width: 100%;
            height: 100%;
            margin: 0;
        }
    </style>
    <script src="/js/OpenLayers.js"></script>
</head>

<body class="backgrounded">
    {{ block('template') }}
</body>
</html>

