{% extends 'controlPanelGlobal.html.twig' %}

{% block template %}
    <div class="row">
        <div class="col-sm-3">
            <div class="cp-block">
                <h3 class="cp-block__header">{{ t('cp.block.gameAmount') }}</h3>
                <div class="cp-block__content">
                    {{ context.gameAmount }}
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="cp-block">
                <h3 class="cp-block__header">{{ t('cp.block.questionAmount') }}</h3>
                <div class="cp-block__content">
                    {{ context.questionAmount }}
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="cp-block">
                <h3 class="cp-block__header">{{ t('cp.block.teamAmount') }}</h3>
                <div class="cp-block__content">
                    {{ context.teamAmount }}
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="cp-block">
                <h3 class="cp-block__header">{{ t('cp.block.objectAmount') }}</h3>
                <div class="cp-block__content">
                    {{ context.objectAmount }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
