<!DOCTYPE html>

<html lang="{{ language }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="author" content="">
    <meta name="description" content="{{ t('index.description', {'groupName': s('groupName')}) }}"/>
    <link async rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css">
    <link async rel="stylesheet" type="text/css" href="/css/compiled.php" />
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/app.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Archivo" rel="stylesheet">
    <link async rel="stylesheet" type="text/css" href="/font-awesome/css/all.min.css">

    <title>{{ t('admin.title') }}</title>
    <style type="text/css">
        html, body, #jotaHuntMap {
            width: 100%;
            height: 100%;
            margin: 0;
        }
    </style>
    <script src="/js/OpenLayers.js"></script>
    <script>
        $(document).ready(function () {

            $('#sidebarCollapse').on('click', function () {
                $('.cp-sidebar').toggleClass('active');
            });

        });
    </script>
</head>

<body>
    <div class="cp-wrapper">
        <nav class="cp-sidebar">
            <div class="cp-sidebar__header">
                <h1 class="text-center">{{ t('cp.title') }}</h1>
                <strong>GH CP</strong>
            </div>

            <ul class="list-unstyled cp-sidebar__components">
                <li class="cp-sidebar__list-item">
                    <a href="{{ tl('cp') }}">
                        <i class="fas fa-home"></i>{{ t('cp.nav.cp') }}
                    </a>
                </li>
                {% if context.games is defined %}
                    {% for game in context.games %}
                        <li class="cp-sidebar__list-item">
                            <a href="#{{ md5(game.name ~ game.userId) }}" data-toggle="collapse" aria-expanded="{{ context.game is defined and context.game.id == game.id ? 'true' : 'false' }}" class="dropdown-toggle">
                                <i class="fas fa-gamepad"></i>{{ game.name }}
                            </a>
                            <ul class="collapse list-unstyled {{ context.game is defined and context.game.id == game.id ? 'in' : '' }}" id="{{ md5(game.name ~ game.userId) }}">
                                <li class="cp-sidebar__list-item">
                                    <a href="{{ tl('cpGameOverview', {'gameId': game.id}) }}">
                                        <i class="fas fa-table"></i>{{ t('cp.nav.game.overview') }}
                                    </a>
                                </li>
                                <li class="cp-sidebar__list-item">
                                    <a href="{{ tl('cpGameTeams', {'gameId': game.id}) }}">
                                        <i class="fas fa-users"></i>{{ t('cp.nav.game.teams') }}
                                    </a>
                                </li>
                                <li class="cp-sidebar__list-item">
                                    <a href="{{ tl('cpGameQuestions', {'gameId': game.id}) }}">
                                        <i class="fas fa-question"></i>{{ t('cp.nav.game.questions') }}
                                    </a>
                                </li>
                                <li class="cp-sidebar__list-item">
                                    <a href="{{ tl('cpGameObjects', {'gameId': game.id}) }}">
                                        <i class="fas fa-sitemap"></i>{{ t('cp.nav.game.objects') }}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endfor %}
                {% endif %}
                <li class="cp-sidebar__list-item">
                    <a href="{{ tl('cpNewGame') }}">
                        <i class="fas fa-plus"></i>{{ t('cp.game.new') }}
                    </a>
                </li>
            </ul>
        </nav>
        <div class="cp-content">
            <nav class="navbar navbar-cp-custom navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-bars"></i>
                        <span>{{ t('cp.toggleSidebar') }}</span>
                    </button>

                </div>
            </nav>
            <div class="cp-main-content">
                {{ block('template') }}
            </div>
        </div>
    </div>
</body>
</html>

