{% extends 'global.html.twig' %}

{% block template %}
    <section id="info">
        <div class="container">
            <h2 class="text-center">{{ t('error.general') }}</h2>
            <div class="alert alert-danger">
                {{ context.errors.0 }}
            </div>
        </div>
    </section>
{% endblock %}
