<!DOCTYPE html>

<html lang="{{ language }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="author" content="">
    <meta name="description" content="{{ t('index.description', {'groupName': s('groupName')}) }}"/>
    <link async rel="stylesheet" type="text/css" href="/font-awesome/css/all.min.css">
    <link async rel="stylesheet" type="text/css" href="/css/compiled.php" />
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/jquery.easy-ticker.min.js"></script>

    <title>{{ t('main.title') }}</title>
    <script src="/js/OpenLayers.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Archivo" rel="stylesheet">
</head>

<body class="backgrounded">
<nav id="nav" class="navbar navbar-custom navbar-fixed-top" data-spy="affix">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Geohunt</a>
            <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <i class="fas fa-bars"></i>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav pull-right navbar-nav hidden-xs">
                <li><a href="{{ tl('index') }}">{{ t('nav.home') }}</a></li>
                <li><a href="{{ tl('cp') }}">{{ t('nav.cp') }}</a></li>
            </ul>
            <ul class="nav navbar-nav visible-xs">
                <li><a href="{{ tl('index') }}">{{ t('nav.home') }}</a></li>
                <li><a href="{{ tl('cp') }}">{{ t('nav.cp') }}</a></li>
            </ul>
        </div>
    </div>
</nav>

    {{ block('template') }}
</body>
</html>
