{% extends 'global.html.twig' %}

{% block template %}
    <section class="header-row">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center header-row__main-title">
                    {{ t('main.title') }}
                </h1>
                <div class="ticker text-center">
                    <ul class="ticker__list">
                        <li>{{ t('mainsite.catchphrase1') }}</li>
                        <li>{{ t('mainsite.catchphrase2') }}</li>
                        <li>{{ t('mainsite.catchphrase3') }}</li>
                        <li>{{ t('mainsite.catchphrase4') }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="start-playing">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="text-center">{{ t('mainsite.startPlaying') }}</h2>
            </div>
        </div>
        <div class="row row-divided">
            <div class="col-md-6 row-divider text-center">
                <h3 class="text-center">{{ t('mainsite.startPlaying.asTeam') }}</h3>
                <div class="login-block">
                    <form method="post" action="{{ tl('teamLogin') }}">
                        <input type="text" class="input-field input-field--center" name="teamCode" id="teamCode" placeholder="{{ t('team.code') }}"/>
                        <button type="submit" class="btn btn-primary">
                            {{ t('mainsite.login.team') }}
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-md-6 row-divider">
                <h3 class="text-center">{{ t('mainsite.startPlaying.asGameMaster') }}</h3>
                <div class="login-block">
                    <form method="post" action="{{ tl('userRegister') }}">
                        <input type="text" class="input-field input-field--center" name="username" id="username" placeholder="{{ t('user.username') }}"/>
                        <input type="password" class="input-field input-field--center" name="password" id="password" placeholder="{{ t('user.password') }}"/>
                        <input type="password" class="input-field input-field--center" name="passwordRepeat" id="passwordRepeat" placeholder="{{ t('user.password.repeat') }}"/>
                        <input type="email" class="input-field input-field--center" name="email" id="email" placeholder="{{ t('user.email') }}"/>
                        <button type="submit" class="btn btn-primary">
                            {{ t('mainsite.register.user') }}
                        </button>
                    </form>

                    <small>
                        <a href="{{ tl('cp') }}">
                            {{ t('mainsite.register.user.alreadyHaveAccount') }}
                        </a>
                    </small>

                </div>
            </div>
        </div>
    </section>

{% endblock %}
