{% extends 'global.html.twig' %}

{% block template %}
    {% if context.team is null %}
        <h2>Team niet gevonden, klik <a href="/">hier</a> om terug te gaan</h2>
    {% else %}
        <script src="/js/game.js"></script>
        <h1 class="text-center">{{ context.team.name }}</h1>

        <hr/>
        <div id="questions" data-questions="{{ context.questions|json_encode }}" class="hidden">&nbsp;</div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <b>{{ t('common.currency') }}: </b>
                    <span class="js-points-amount">{{ context.team.points }}</span>
                </div>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="dropdown" style="z-index: 1005">
                            <button class="btn btn-block btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ t('game.buyItems') }}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <div class="dropdown-item object">

                                    <div class="row">
                                        <div class="col-xs-6 dropdown-item__col--header text-center ">
                                            {{ t('object.name') }}
                                        </div>
                                        <div class="col-xs-2 dropdown-item__col--header text-center">
                                            {{ t('object.currentAmount') }}
                                        </div>
                                        <div class="col-xs-2 dropdown-item__col--header text-center">
                                            {{ t('object.purchase') }}
                                        </div>
                                        <div class="col-xs-2 dropdown-item__col--header text-center">
                                            {{ t('object.price') }}
                                        </div>
                                    </div>
                                </div>
                                {% for object in context.objects %}
                                    <div class="dropdown-item">
                                        <div class="row row-eq-height">
                                            <div class="col-xs-6 dropdown-item__col">
                                                <div class="dropdown-item__title dropdown-item__col">
                                                    <div class="text-center">
                                                        <img class="object__image" src="{{ object.image }}"/>
                                                    </div>
                                                    <div class="text-center">
                                                        {{ object.name }}
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-xs-2 dropdown-item__col">
                                                <div class="js-object-counter" style="font-size: 1em"
                                                      data-object-id="{{ object.id }}"
                                                      data-object-name="{{ object.name }}">
                                                    {{ object.amount|default(0) }}
                                                </div>
                                            </div>
                                            <div class="col-xs-2 dropdown-item__col">
                                                <button type="button"
                                                        data-object-id="{{ object.id }}"
                                                        data-purchase-value="{{ object.purchaseValue }}"
                                                        class="btn btn-success js-purchase-button"
                                                        {% if context.team.points < object.purchaseValue %}disabled="disabled"{% endif %}
                                                >
                                                    +
                                                </button>
                                            </div>
                                            <div class="col-xs-2 dropdown-item__col">
                                                {{ object.purchaseValue }}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <hr/>

        <div id="geoHuntMap" data-team-id="{{ context.team.id }}"></div>
        <div id="questionModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <form method="post" id="modalForm" action="/service/question/answer" class="js-modal-form">
                        <input type="hidden" name="questionId" class="js-question-id" value=""/>
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Modal Header</h4>
                        </div>
                        <div class="modal-body">
                            <div class="modal-description">

                            </div>
                            <div class="modal-answers">

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary pull-left" >{{ t('common.send') }}</button>
                            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">{{ t('common.close') }}</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <script>
            $(document).ready(function(e){
                $(this).geohuntGame('{{ context.team.code }}');
            });
        </script>
    {% endif %}
{% endblock %}